Source: varnishkafka
Priority: optional
Maintainer: Faidon Liambotis <paravoid@debian.org>
Uploaders: Emanuele Rocca <ema@wikimedia.org>, Luca Toscano <ltoscano@wikimedia.org>,
           Valentin Gutierrez <vgutierrez@wikimedia.org>
Build-Depends: debhelper (>= 9), libvarnishapi-dev (>=4.1.2), libvarnishapi-dev (<< 5.2), librdkafka-dev (>=0.11.5),
 libyajl-dev, zlib1g-dev
Standards-Version: 3.9.8
Section: web

Package: varnishkafka
Architecture: any
Depends: varnish (>=4.1.2), ${shlibs:Depends}, ${misc:Depends}, lsb-base
Enhances: varnish
Description: Varnish to Kafka log streamer
 varnishkafka reads Varnish shared memory logs, formats them and prints them to
 standard output or streams them to Kafka brokers, using the Apache Kafka
 protocol. It can format the logs into Apache/NCSA "combined" log
 format, custom string format, or JSON format.
 .
 varnishkafka is similar to varnishncsa, as shipped by the Varnish source,
 although it has more features and was written with high performance in mind.

Package: varnishkafka-dbg
Architecture: any
Section: debug
Priority: extra
Depends: varnishkafka (= ${binary:Version}), ${misc:Depends}
Description: Varnish to Kafka log streamer
 varnishkafka reads Varnish shared memory logs, formats them and prints them to
 standard output or streams them to Kafka brokers, using the Apache Kafka
 protocol. It can format the logs into Apache/NCSA "combined" log
 format, custom string format, or JSON format.
 .
 varnishkafka is similar to varnishncsa, as shipped by the Varnish source,
 although it has more features and was written with high performance in mind.
 .
 This package provides the debugging symbols for varnishkafka.
