#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# FIXME
export VER=1

%:
	dh $@

override_dh_auto_install:
	# don't run "make install", use debian/*.install instead

override_dh_strip:
	dh_strip --dbg-package=varnishkafka-dbg

.PHONY: override_dh_auto_install override_dh_strip
